/data_16384_32_cat_trg
/data_16384_32_trg
/data_16384_32_x
/data_16384_8_cat_trg
/data_16384_8_trg
/data_16384_8_x
/data_8192_16_cat_trg
/data_8192_16_trg
/data_8192_16_x
/data_flip_cat_trg
/data_flip_trg
/data_flip_x
project_instruction.txt
.gitignore
.gitignore
Training.py
Rapport.pdf
rapport.tex
__pycache__/data_gen.cpython-310.pyc
__pycache__/fine_tune.cpython-310.pyc
__pycache__/images.cpython-310.pyc
__pycache__/TransformerGPT_with_MLP.cpython-310.pyc
